<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
        <servlet-name>ControlCliente</servlet-name>
        <servlet-class>Controllers.ControlCliente</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ControlCliente</servlet-name>
        <url-pattern>/ControlCliente</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>Controllers.ControlLogin</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ControlPais</servlet-name>
        <servlet-class>Controllers.ControlPais</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ControlPais</servlet-name>
        <url-pattern>/ControlPais</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ControlMunicipio</servlet-name>
        <servlet-class>Controllers.ControlMunicipio</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ControlMunicipio</servlet-name>
        <url-pattern>/ControlMunicipio</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ControlUsuario</servlet-name>
        <servlet-class>Controllers.ControlUsuario</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ControlUsuario</servlet-name>
        <url-pattern>/ControlUsuario</url-pattern>
    </servlet-mapping>
    
    
    
    
    <error-page>
	  <exception-type>ServletException</exception-type>
	  <location>/servletException.jsp</location>
	</error-page>
    
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login_DataPets.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
